# Q1

In [2]:
def count_chickens(num_chickens):
    if num_chickens >= 10:
        return 'Number of Chickens: many'
    else:
        return f'Number of Chickens: {num_chickens}'

In [3]:
count_chickens(10)

'Number of Chickens: many'

In [4]:
count_chickens(1)

'Number of Chickens: 1'

# Q2

In [14]:
def new_string(s):
    if len(s) < 3:
        return ""
    else:
        return s[:3] + s[-3:]

In [15]:
new_string('intelligence')

'intnce'

In [18]:
new_string('NEWSTRING')

'NEWING'

# Q3

In [25]:
def replace_chars(s):
    if len(s) < 2:
        return s
    rslt=s[0:].replace('a', '@')
    return rslt

In [29]:
replace_chars('banana')

'b@n@n@'

In [30]:
replace_chars('ammar')

'@mm@r'

# Q4

In [31]:
def new_string(a, b):
    if len(a) < 2 or len(b) < 2:
        return a + ' ' + b
    
    new_a = b[:2] + a[2:]
    new_b = a[:2] + b[2:]
    rslt = new_a + ' ' + new_b
    
    return rslt

In [33]:
new_string('hello', 'Byee')

'Byllo heee'

# Q5

In [37]:
def matching(string_list):
    count = 0
    for word in string_list:
        if word[0] == word[-1]:
            count += 1
    print(count)

In [38]:
matching(['abc'])

0

In [39]:
matching(['HuH'])

1

# Q6

In [43]:
def sort(s_list):
    s_list.sort()
    print(s_list)

s_list = ['mix', 'xyz', 'apple', 'xanadu', 'aardvark']
sort(s_list)

['aardvark', 'apple', 'mix', 'xanadu', 'xyz']

# Q7

In [48]:
def last(n):
    return n[-1]

def new_tuple(tuples):
    return sorted(tuples, key=last)

In [49]:
new_tuple([(1, 7), (1, 3), (3, 4, 5), (2, 2)])

[(2, 2), (1, 3), (3, 4, 5), (1, 7)]

# Q8

In [61]:
def palindrome(n):
    if n==n[::-1]:
        print("It's a palindrome")
    else:
        print("It's not a palindrome")

In [62]:
palindrome('madam')
palindrome('nurses run')

It's a palindrome
It's not a palindrome

# Q9

In [75]:
def List_Flattening(nested_list):
    flat_list = []
    for i in nested_list:
        if type(i) != list:
            flat_list.append(i)   
        else:
            for j in i:
                flat_list.append(j)

    return flat_list

In [76]:
List_Flattening([[1, 2], [3, 4, 5]])

[1, 2, 3, 4, 5]

# Q10

In [77]:
def Intersection(list1, list2):
    list3 = []
    for i in list1:
        if i in list2 and i not in list3:
            list3.append(i)
    return list3

In [81]:
print(Intersection([1, 2, 3, 4, 9], [5, 6, 4, 8, 9]))

[4, 9]

# Q11

In [82]:
def sort(s1, s2):
    return sorted(s1) == sorted(s2)

In [86]:
sort('dog', 'god')

True

In [87]:
sort('cinema','iceman')

True

# Q12

In [92]:
def bs(arr, target):
    
    lf = 0
    right = len(arr) - 1
    
    while lf <= right:
        mid = (lf + right) // 2
        if target == arr[mid]:
            return mid
        elif target < arr[mid]:
            right = mid - 1
        else:
            lf = mid + 1

    return -1

In [93]:
bs([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 5)

4

# Q13

In [12]:
def ms(arr):
    
    if len(arr) > 1:
        mid = len(arr)//2
        L = arr[:mid]
        R = arr[mid:]
        ms(L)
        ms(R)
        i = j = k = 0
        while i < len(L) and j < len(R):
            if L[i] < R[j]:
                arr[k] = L[i]
                i += 1
            else:
                arr[k] = R[j]
                j += 1
            k += 1
        while i < len(L):
            arr[k] = L[i]
            i += 1
            k += 1
        while j < len(R):
            arr[k] = R[j]
            j += 1
            k += 1

In [15]:
arr = [9 , 5 , 3 , 8 , 1 , 2]
ms(arr)
print(arr)

[1, 2, 3, 5, 8, 9]

# Q14

In [18]:
def qs(arr):
    if len(arr) <= 1:
        return arr
    pivot = arr[0]
    left = [x for x in arr[1:] if x <= pivot]
    right = [x for x in arr[1:] if x > pivot]
    return qs(left) + [pivot] + qs(right)

In [19]:
print(qs([5, 3, 8, 6, 7, 2]))

[2, 3, 5, 6, 7, 8]

# Q15

In [23]:
def fc(lst):
    
    return {i:lst.count(i) for i in lst}

In [24]:
fc([1, 2, 2, 3, 4, 2])

{1: 1, 2: 3, 3: 1, 4: 1}

# Q16

In [28]:
def de(lst):
    return len(set(lst))

In [29]:
de([2 , 1 , 2 , 2 , 2 , 2, 3, 4, 2])

4

# Q17

In [33]:
def UIS(set1, set2):
    return (set1.union(set2), set1.intersection(set2))

In [34]:
print(UIS({1, 2, 3, 4, 5}, {4, 5, 6, 7, 8, 9}))

({1, 2, 3, 4, 5, 6, 7, 8, 9}, {4, 5})

# Q18

In [36]:
def UNIQUE(d):
    return list(set(d.values()))

In [39]:
print(UNIQUE({1: "Apple", 2: "Orange", 3: "Apple" , 4: "Apple" , 5: "Banana"}))

['Banana', 'Apple', 'Orange']

# Q19

In [55]:
def common(d):
    values = d.values()
    most_common = max(values)
    words = []
    for k in d:
        if d[k] == most_common:
            words.append(k)
    return (words, most_common)

In [58]:
d = {'a': 10, 'b': 34, 'c': 23, 'd': 23, 'e': 23, 'f': 16, 'g': 23, 'h': 23}
print(common(d))

(['b'], 34)

# Q20

In [53]:
def combine(d1, d2):
    return {**d1, **d2}

In [54]:
print(combine({'a': 1, 'b': 2}, {'b': 3, 'c': 4}))

{'a': 1, 'b': 3, 'c': 4}

# Q21

In [50]:
def dic(lst, key):
    return [d for d in lst if key in d]

In [51]:
 print(dic([{'a': 1, 'b': 2}, {'a': 3, 'b': 4}, {'a': 5, 'b': 6, 'c': 7}], 'a'))

[{'a': 1, 'b': 2}, {'a': 3, 'b': 4}, {'a': 5, 'b': 6, 'c': 7}]

# Q22

In [42]:
def dup(lst):
    return list(set([x for x in lst if lst.count(x) > 1]))

In [45]:
 print(dup([1, 2, 3, 4, 4, 5, 6, 6, 7, 8, 9, 9, 9 , 33 , 13 , 33]))

[9, 4, 6, 33]